/*<a href="https://www.flaticon.com/free-icons/home" title="home icons">Home icons created by lutfix - Flaticon</a>*/

.appBody {
  background-color: #d3b5db;
  border-bottom: solid 1px #400d33;
  min-height: 100vh;
  font-size: calc(12px + 1vmin);
  color: black;
  text-align: center;
}